$c-circle--width: 20;
$c-circle--border-width: 4;


.circle {
  &__parent {
    position: relative;
  }


  box-sizing: border-box;

  display: flex;
  justify-content: center;

  width: $c-circle--width * $unit;
  height: $c-circle--width * $unit;

  background: $green;
  border: ($c-circle--border-width * $unit) solid rgba($black, .5);
  border-radius: 50%;
}



.dot {
  position: absolute;
  top: 0;
  left: ($c-circle--width / 2) - ($c-circle--border-width / 2)  * $unit;

  display: block;
  width:  $c-circle--border-width * $unit;
  height: $c-circle--border-width * $unit;

  background: $white;
  border-radius: 50%;
}
