$c-circle--size: 30px;


.circle {
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  width:  $PI * $unit;
  height: $PI * $unit;

  background: $yellow;
  border: $c-circle--size solid rgba($black, .5);
  border-radius: 50%;

  &:after {
    content: "";
    position: relative;
    top: -$c-circle--size;

    display: block;
    width:  $c-circle--size;
    height: $c-circle--size;

    background: $white;
    border-radius: 50%;
  }
}
